/* ---------------------------DESKTOP STYLES------------------------------ */
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
  .container {
    max-width: 1128px;
  }
  /* -----------------------------HEADER---------------------------------- */

  .header {
    padding-bottom: 24px;
    padding-left: 156px;
    padding-right: 156px;
  }
  .header-contacts-list {
    display: flex;
    gap: 40px;
  }
  .header-contacts-list a {
    font-size: 16px;
  }
  /* -----------------------------HEADER---------------------------------- */
  /* -----------------------------BANNER---------------------------------- */
  .banner.section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/banner/banner-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .banner-title {
    margin-bottom: 48px;
  }
  /* -----------------------------BANNER---------------------------------- */
  /* ---------------------------ADVANTAGES-------------------------------- */
  /* .advantages.section {
    padding-right: 156px;
    padding-left: 156px;
  } */
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }
  .advantages-item {
    max-width: 264px;
    margin-bottom: 0;
  }
  .advantages-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .advantages-icon {
    display: block;
    box-sizing: content-box;
    background-color: #f4f4fd;
    border-radius: 4px;
    padding: 24px 100px;
  }
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color-grey);
  }
  /* ---------------------------ADVANTAGES-------------------------------- */
  /* -------------------------------ABOUT--------------------------------- */
  .about {
    display: block;
    padding-top: 0;
  }
  .about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--brand-color-navy-blue);
    margin-bottom: 72px;
  }
  .about-list {
    display: flex;
    gap: 24px;
  }
  /* -------------------------------ABOUT--------------------------------- */
  /* ------------------------------TEAM----------------------------------- */
  .team-list {
    flex-wrap: nowrap;
  }
  .team-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  /* ------------------------------TEAM----------------------------------- */
  /* ----------------------------CUSTOMERS-------------------------------- */
  .customers-list {
    flex-wrap: nowrap;
  }
  /* ----------------------------CUSTOMERS-------------------------------- */
  /* -----------------------------FOOTER---------------------------------- */
  .footer.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  .footer-text-wrapper {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-soc-wrapper {
    margin-bottom: 0;
  }
  .footer-text {
    max-width: 264px;
  }
  /* -----------------------------FOOTER---------------------------------- */
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/banner/banner-bg-desk-2x.jpg);
  }
}
/* ---------------------------DESKTOP STYLES------------------------------ */
