@media screen and (min-width: 1200px) {
    .container{
        width: 1158px;
    }
    
    .header-contacts-list{
        display: flex;
    }

    .header-contacts-list a{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    .banner{
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7) ), 
        url(../images/office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .banner {
    background-image:
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7) ), 
        url(../images/banner-bg-desk-2x.jpg);
  }
}

    .banner-title{
        font-size: 56px;
        max-width: 494px;
    }

    .advantages {
        padding-top: 120px;
        padding-bottom: 0;
    }

    .advantages > .container {
        width: 1158px;
        
    }

    .advantages-list {
        display: flex;
        flex-wrap: nowrap;
    }

    .advantages-item {
        max-width: 264px;
    }

    .advantages-item:not(:last-child){
        margin-bottom: 0;
    }

    .advantages-icon{
        display: flex;
    }

    .advantages-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .advantages-description {
        font-size: 16px;
        font-weight: 400;
    }

    .about {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
     } 
    
    .about-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
     .about-list {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 24px;
    }


    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team > .container{
        width: 1158px;
    }

    .team-item{
        width: calc((100% - 72px) / 4);
    }
    .team-item:not(:last-child) {
        margin-bottom: 0;
    }

    .customers{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers>.container{
        width: 1128px;
    }

    .customers-item {
        width: calc((100% - 150px) / 6);
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer>.container{
        width: 1158px;
    }

    .footer-container{
        display: flex;
        gap: 120px;
    }
}

