:root {
  --brand-color-blue: #4d5ae5;
  --brand-color-navy-blue: #2e2f42;
  --brand-color-grey: #434455;
  --brand-color-ocean: #404bbf;
  --brand-color-cloud: #f4f4fd;
  --brand-color-cornflower: #e7e9fc;
  --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-navy-blue);
}

/* ---------------------------MAIN STYLES------------------------------- */

.section {
  padding: 96px 0;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* ---------------------------MODAL WINDOW------------------------------- */

.backdrop {
  position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--tra), visibility var(--tra);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  /* height: 586px; */
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--tra), color var(--tra);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--brand-color-ocean);
}

.modal-close-icon {
  transition: fill var(--tra);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-navy-blue);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}

.modal-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-label-term {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-label-term::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  display: block;
  margin-right: 7px;
  transition: background-color var(--tra), fill var(--tra);
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  padding-left: 38px;
  transition: border var(--tra);
}

.modal-input:focus {
  border: 1px solid var(--brand-color-blue);
}

.modal-input:focus + .input-icon {
  fill: var(--brand-color-blue);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--tra);
}

.modal-text-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 18px;
  padding-left: 16px;
  padding-top: 8px;
  outline: none;
  resize: none;
  transition: border var(--tra);
}

.modal-text-input:focus {
  border: 1px solid var(--brand-color-blue);
}

.modal-text-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.modal-checkbox:checked + .modal-label-term::before {
  background-color: #404bbf;
  border: none;
  background-image: url(../images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.terms-link {
  color: var(--brand-color-blue);
  margin-left: 2px;
}

.modal-submit-button {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--brand-color-blue);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--tra);
  margin: 0 auto;
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: var(--brand-color-ocean);
}
/* ---------------------------MODAL WINDOW------------------------------- */

/* ------------------------------HEADER--------------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--brand-color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-navy-blue);
  text-decoration: none;
}
.header-logo span {
  color: var(--brand-color-blue);
}

.menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
}

.header-list {
  display: none;
}

.header-contacts-list {
  display: none;
}

/* ------------------------------HEADER--------------------------------- */
/* ----------------------------MOBILE MENU------------------------------ */
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 16px;
  background: var(--brand-color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-list {
  margin-bottom: 48px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--brand-color-navy-blue);
}
.mobile-menu-link:hover,
.mobile-menu-link:active {
  color: var(--brand-color-ocean);
}
.mobile-menu-link.current {
  color: var(--brand-color-ocean);
}
.mobile-menu-contacts-list {
  margin-bottom: 48px;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-tel {
  font-size: 36px;
  line-height: 1.11;
  color: var(--brand-color-blue);
}
.mobile-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}
.mobile-menu-soc-list {
  display: flex;
  gap: 56px;
}
.mobile-menu-soc-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--tra);
}
.team-soc-link:hover {
  background-color: var(--brand-color-ocean);
}
/* ----------------------------MOBILE MENU------------------------------ */

/* ------------------------------BANNER--------------------------------- */

.banner {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/banner/banner-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--brand-color-navy-blue);
  padding-top: 112px;
  padding-bottom: 112px;
  justify-content: center;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/banner/banner-bg-tab-2x.jpg);
  }
}

.banner-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
}

.banner-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--brand-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  transition: background-color var(--tra), box-shadow var(--tra);
}
.banner-button:hover {
  background-color: var(--brand-color-ocean);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.banner-button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ------------------------------BANNER--------------------------------- */

/* ----------------------------ADVANTAGES------------------------------- */

.advantages-item:not(:last-child) {
  margin-bottom: 72px;
}

.advantages-icon {
  display: none;
}

.advantages-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8px;
  text-align: center;
}
.advantages-description {
  color: var(--brand-color-grey);
  font-size: 16px;
  font-weight: 500;
}

/* ----------------------------ADVANTAGES------------------------------- */

/* -------------------------------ABOUT--------------------------------- */
.about {
  display: none;
}
/* -------------------------------ABOUT--------------------------------- */
/* --------------------------------TEAM--------------------------------- */

.team {
  padding-bottom: 128px;
  background-color: var(--brand-color-cloud);
}

.team > .container {
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-card-wrapper {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
  padding: 32px 14px;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
}
.team-function {
  font-size: 16px;
  color: var(--brand-color-grey);
  margin-bottom: 32px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 8px;
}

.team-soc-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--tra);
}
.team-soc-link:hover {
  background-color: var(--brand-color-ocean);
}

/* --------------------------------TEAM--------------------------------- */
/* ------------------------------CUSTOMERS------------------------------ */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--brand-color-navy-blue);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
}

.customers-link:hover {
  border: 1px solid var(--brand-color-ocean);
  color: var(--brand-color-ocean);
}

.customers-icon {
  fill: currentColor;
}

/* ------------------------------CUSTOMERS------------------------------ */
/* --------------------------------FOOTER------------------------------- */
.footer {
  background-color: var(--brand-color-navy-blue);
}

.footer-text-wrapper {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.footer-soc-wrapper {
  margin-bottom: 72px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}
.footer-logo span {
  color: var(--brand-color-blue);
}

.footer-text {
  color: var(--brand-color-cornflower);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color-blue);
  border-radius: 50%;
  transition: background-color var(--tra);
}

.footer-soc-link:hover,
.footer-soc-link:active {
  background-color: #31d0aa;
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-input {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 16px;
}

.footer-input:focus {
  border: 1px solid var(--brand-color-blue);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: flex;
  padding: 8px 24px;
  background: var(--brand-color-blue);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--tra);
  margin-left: auto;
  margin-right: auto;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--brand-color-ocean);
}
.footer-form-button > span {
  margin-right: 16px;
}
/* --------------------------------FOOTER------------------------------- */
/* -------------------------------PORTFOLIO----------------------------- */
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
.buttons-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}
.buttons-btn {
  background: var(--brand-color-cornflower);
  color: var(--brand-color-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 8px 16px;
}
.buttons-btn:hover,
.buttons-btn:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: var(--brand-color-ocean);
  border: 1px solid var(--brand-color-ocean);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--tra);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link-wrapper {
  position: relative;
}

.portfolio-link-wrapper:hover .overlay,
.portfolio-link-wrapper:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-title {
  font-size: 20px;
  color: var(--brand-color-navy-blue);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
.portfolio-category {
  color: var(--brand-color-grey);
  font-weight: 400;
  font-size: 16px;
}
.portfolio-card-wrap {
  padding: 32px 54px 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--tra);
}
/* -------------------------------PORTFOLIO----------------------------- */

/* ---------------------------MAIN STYLES------------------------------- */
